{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-5">
        <h2>Multi-Step User Onboarding Form for a Subscription Service</h2>
        <form id="multiStepForm">
            <!-- Step 1 -->
            <div class="step active">
                <h4>Personal Details</h4>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="subscriptionType" class="form-label">Subscription Type</label>
                    <div class="form-check">
                        <input type="radio" checked id="free" name="subscriptionType" value="1" class="form-check-input"
                               required>
                        <label for="premium" class="form-check-label">Free</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="premium" name="subscriptionType" value="2" class="form-check-input"
                               required>
                        <label for="premium" class="form-check-label">Premium</label>
                    </div>
                </div>
                <button type="button" class="btn btn-primary next preview">Next</button>
            </div>

            <!-- Step 2 -->
            <div class="step">
                <h4>Address</h4>
                <div class="mb-3">
                    <label for="line1" class="form-label">Line 1</label>
                    <input type="text" id="line1" name="line1" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="line2" class="form-label">Line 2</label>
                    <input type="text" id="line2" name="line2" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" id="city" name="city" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" id="state" name="state" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="postalCode" class="form-label">Postal Code</label>
                    <input type="text" id="postalCode" name="postalCode" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <select id="country" name="country" class="form-control" required>
                    </select>
                </div>
                <button type="button" class="btn btn-secondary prev">Previous</button>
                <button type="button" class="btn btn-primary next">Next</button>
            </div>

            <!-- Step 3 -->
            <div class="step">
                <h4>Payment Information</h4>
                <div class="mb-3">
                    <label for="cardNumber" class="form-label">Card Number</label>
                    <input type="text" id="cardNumber" name="cardNumber" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="expirationDate" class="form-label">Expiry Date</label>
                    <input type="month" id="expirationDate" name="expirationDate" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="cvv" class="form-label">CVV</label>
                    <input type="text" id="cvv" name="cvv" class="form-control" required>
                </div>
                <button type="button" class="btn btn-secondary prev">Previous</button>
                <button type="submit" value="preview" name="preview" class="btn btn-primary next">Preview</button>
            </div>

            <div class="step">
                <h4>Summary</h4>
                <p id="preview-container">

                </p>
                <button type="button" class="btn btn-secondary prev">Previous</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {

            const baseUrl = "http://127.0.0.1:8000/api/v1/";

            $.get(`${baseUrl}countries`, function (response) {
                $('#country').append(`<option value="" disabled selected>Select a country</option>`);
                response.data.forEach(function (item) {
                    $('#country').append(`<option value="${item.code}" data-code="${item.code}">${item.name}</option>`);
                });
            }).fail(function (error) {
                console.error("Error fetching data:", error);
            });


            const form = $("#multiStepForm");
            const steps = $(".step");
            let currentStep = 0;

            // Initialize validation
            form.validate({
                errorClass: "error",
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    phoneNumber: {
                        required: true,
                        digits: true,
                        rangelength: [10, 10]
                    }
                },
                messages: {
                    name: "Please enter your Name",
                    email: "Please enter a valid email address",
                    phoneNumber: {
                        required: "Phone number is required.",
                        digits: "Please enter only digits.",
                        rangelength: "Phone number must be exactly 10 digits."
                    },
                    subscriptionType: "Please select a Subscription",
                    line1: "Please enter your Line 1",
                    city: "Please enter your City",
                    state: "Please enter your State",
                    postalCode: "Please enter your Postal Code",
                    country: "Please select your Country",
                    cardNumber: "Please enter card Number",
                    expirationDate: "Please enter expiration Date",
                    cvv: "Please enter cvv",
                },
                highlight: function (element) {
                    $(element).addClass("input-error");
                },
                unhighlight: function (element) {
                    $(element).removeClass("input-error");
                }
            });

            // Show current step
            function showStep(index) {
                steps.removeClass("active").eq(index).addClass("active");
            }

            // Next button handler
            $(".next").click(function () {
                if (form.valid()) {
                    currentStep++;
                    if (currentStep >= steps.length) currentStep = steps.length - 1;
                    showStep(currentStep);
                }
            });

            // Previous button handler
            $(".prev").click(function () {
                currentStep--;
                if (currentStep < 0) currentStep = 0;
                showStep(currentStep);
            });


            form.on("submit", function (e) {
                e.preventDefault();

                if (form.valid()) {
                    const clickedButton = e.originalEvent.submitter;
                    const formData = $(this).serializeArray();
                    let expirationDate=  formData[11].value;
                    expirationDate.replace("-", "/");
                    let payload = {
                        "name": formData[0].value,
                        "email": formData[1].value,
                        "phoneNumber": formData[2].value,
                        "subscriptionType": parseInt(formData[3].value),
                        "addresses": [
                            {
                                "line1": formData[4].value,
                                "line2": formData[5].value,
                                "city": formData[6].value,
                                "state": formData[7].value,
                                "postalCode": formData[8].value,
                                "country": formData[9].value
                            }
                        ],
                        "paymentMethods": [
                            {
                                "cardNumber": formData[10].value,
                                "expirationDate":expirationDate,
                                "cvv": formData[12].value
                            }
                        ]
                    }

                    if (clickedButton.value === 'preview') {
                        let previewContainer = $('#preview-container');

                        previewContainer.html(JSON.stringify(payload));

                        return;
                    }

                    $.post({
                        url: `${baseUrl}signup`,
                        contentType: 'application/json',
                        data: JSON.stringify(payload),
                        dataType: 'json',
                        success: function (response) {
                            console.log('Parsed JSON response:', response);
                        },
                        error: function (xhr, status, error) {
                            console.error('Request failed:', error);
                        }
                    });

                }
            });

            // Initially show the first step
            showStep(currentStep);
        });
    </script>
{% endblock %}

